@font-face {
    font-family: italic;
    src: url(../fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}

@font-face {
    font-family: bold;
    src: url(../fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2);
}

@font-face {
    font-family: underline;
    src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2);
}

@font-face {
    font-family: Normal;
    src: url(../fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2);
}

@font-face {
    font-family: Tregular;
    src: url(../fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2);
}

@font-face {
    font-family: Titem;
    src: url(../fonts/pxiEyp8kv8JHgFVrJJfecg.woff2);
}

@font-face {
    font-family: SemiBold;
    src: url(../fonts/WooCommerce.woff2);
}
